<%- include('headers/header', {user: user}); %>
<%- include('partials/side-bar', {user: user, activeMenuItem: 'edit-template'}); %>
<form role="form">
    <div class="form-group">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <select id="template-select" class="form-control" size="5">
                    <% for (i in templates) { %>
                        <option value="<%= i %>"><%= templates[i].name %></option>
                    <% } %>
                </select>
            </div>
            <div class="col-md-2"></div>
        </div>

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-1"></div>
                <button type="button" class="btn btn-primary btn-sm" id="select-template-btn" onclick="templateSelected(this)">Editar Tema</button>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</form>
<%- include('footer'); %>
<script type="text/javascript">
    var templates = <%- JSON.stringify(templates) %>;

    function templateSelected() {
        var e = document.getElementById("template-select");
        var i = e.options[e.selectedIndex].value;
        window.location = "/admin/edit_template/"+templates[i].id;

    }
</script>
