<%- include('../headers/header', {user: user}); %>
<%- include('../partials/side-bar', {user: user, activeMenuItem: 'change-default-cv'}); %>
<div class="user-templates-available container" >
  <div class="row">
    <% for(i in templates){%>
    <div class="col-md-4 col-xs-6">
      <h4 class="text-center"><%= templates[i].name%></h4>
      <img src="/images/templates/<%=templates[i].name%>.png" alt="" class="img-responsive">
      <!-- ... recuerda hacer un foreach y poner el id -->
      <a href="/cvs/show/<%= templates[i].id%>" class="btn btn-block btn-success see-preview">Vista previa</a>
    </div>
   <%}%>
  </div>
</div>
<%- include('../footer'); %>




